<section class="cards">
    <div class="wrapper">
        <div class="container">
            <a href="./assets/pages/product.html">
                <div class="product">
                    <div class="back">
                        <div class="cover">
                            <img src="./assets/img/scarf.png" alt="">
                            <div class="circle"></div>
                        </div>
                    </div>
                    <div class="content">
                        <p class="title">Шарф теплый</p>
                        <p class="price">$30.00</p>
                    </div>
                </div>
            </a>
            <a href="./assets/pages/product.html">
               <div class="product">
                <div class="back">
                    <div class="cover">
                        <img src="./assets/img/sweetshot.png" alt="">
                        <div class="circle"></div>
                    </div>
                </div>
                <div class="content">
                    <p class="title">Свитшот</p>
                    <p class="price">$45.00</p>
                </div>
            </div> 
            </a>
            <a href="./assets/pages/product.html">
                <div class="product">
                    <div class="back">
                        <div class="cover">
                            <img src="./assets/img/t-shirt.png" alt="">
                            <div class="circle"></div>
                        </div>
                    </div>
                    <div class="content">
                        <p class="title">Футболка</p>
                        <p class="price">$23.00</p>
                    </div>
                </div>
            </a>
        </div>
    </div>
</section>